<h1>Recipe #<%= @recipe.id %></h1>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Yield:</b>
  <%= @recipe.yield %>
</p>

<p>
  <b>Preptime:</b>
  <%= @recipe.preptime %>
</p>

<p>
  <b>Cooktime:</b>
  <%= @recipe.cooktime %>
</p>

<p>
  <b>User:</b>
  <%= @recipe.user_id %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>


